# Top 10 selector

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
path_df1 = pd.read_csv('../data/Oct19_20/latent_df_1_with_100pct_data_50_svd_components_oct19.csv',index_col=[0])
path_df1

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1000978,1.011997,-0.623184,-0.380176,0.486457,-0.115748,-0.212726,-0.037781,0.002280,0.096322,-0.012538,...,-0.021127,-0.148078,0.101628,0.095404,0.192290,-0.141239,-0.019931,-0.209001,0.039352,-0.287247
1001588,0.450582,-0.154148,0.113206,1.006491,0.751239,0.208610,0.073950,0.034433,0.013401,0.007141,...,-0.034642,-0.096371,-0.043830,-0.010137,-0.062971,0.124478,0.032251,0.046620,0.012112,-0.003206
1001606,1.003073,-0.623449,-0.369852,0.495251,-0.126210,-0.216949,-0.036066,0.007362,0.085205,-0.005006,...,-0.030855,-0.044015,-0.001673,-0.019508,-0.036033,0.010694,0.029710,0.062039,-0.134516,0.169932
1002042,0.466080,-0.143793,0.103378,1.014509,0.748322,0.207734,0.060810,0.026635,0.023192,-0.001750,...,-0.010798,-0.150577,0.108524,0.096416,0.194678,-0.137793,-0.018459,-0.218849,0.032258,-0.301445
1002062,0.466080,-0.143793,0.103378,1.014509,0.748322,0.207734,0.060810,0.026635,0.023192,-0.001750,...,-0.010798,-0.150577,0.108524,0.096416,0.194678,-0.137793,-0.018459,-0.218849,0.032258,-0.301445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60500004,0.257847,0.084290,0.274721,0.336356,0.417794,0.681381,1.344580,-0.292457,-0.003615,0.042007,...,0.008158,-0.005644,0.007655,-0.004312,-0.011380,0.009707,-0.012894,-0.003327,-0.098923,-0.014408
60500005,0.257144,0.084451,0.274665,0.336173,0.417651,0.679306,1.336742,-0.289933,-0.003894,0.042173,...,0.008162,-0.003565,0.008190,-0.005194,-0.014579,0.010160,-0.005851,-0.001854,-0.098273,-0.018379
60500006,0.257183,0.084441,0.274685,0.336204,0.417682,0.679468,1.337279,-0.290098,-0.003882,0.042199,...,0.008191,-0.003584,0.008227,-0.005253,-0.014679,0.010202,-0.005890,-0.001822,-0.098854,-0.018442
60500007,0.258498,0.084759,0.274473,0.336144,0.415244,0.680488,1.344352,-0.289281,-0.004041,0.039671,...,0.009507,-0.003518,0.008604,-0.007273,-0.014613,0.009032,-0.005846,-0.000939,-0.099011,-0.015094
60500010,0.257160,0.084429,0.274636,0.336139,0.417581,0.679264,1.336735,-0.289940,-0.003879,0.042171,...,0.008158,-0.003393,0.008190,-0.005175,-0.014780,0.010238,-0.005719,-0.001769,-0.098742,-0.018705

In [26]:
df = pd.read_csv('../data/2019_oct_sort_1000.csv')

In [27]:
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-18 10:54:45 UTC,view,54900011,2146660887203676486,apparel.costume,NaN,64.35,515483062,00000042-3e3f-42f9-810d-f3d264139c50
1,2019-10-18 10:55:20 UTC,view,54900011,2146660887203676486,apparel.costume,NaN,64.35,515483062,00000042-3e3f-42f9-810d-f3d264139c50
2,2019-10-31 06:25:30 UTC,view,1005105,2053013555631882655,electronics.smartphone,apple,1349.46,513782162,00000056-a206-40dd-b174-a072550fa38c
3,2019-10-31 06:25:52 UTC,view,5100816,2053013553375346967,NaN,xiaomi,29.60,513782162,00000056-a206-40dd-b174-a072550fa38c
4,2019-10-31 06:23:12 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,955.84,513782162,00000056-a206-40dd-b174-a072550fa38c

In [23]:
# df.query("brand == 'apple' and category_code == 'sport bicycle'")  #check the dataframe output
df.query("product_id == 1002544")

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
315,2019-10-03 12:19:29 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,462.40,554894341,0000a6ff-132b-4efa-a52a-3f60a0e52be4
394,2019-10-18 06:08:37 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,460.07,546073764,0000c887-335f-4500-a286-f2372daa9ecc
427,2019-10-19 11:09:48 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,460.05,561610048,0000de39-dc74-414d-8da6-83ad56135bf5
428,2019-10-19 11:10:22 UTC,purchase,1002544,2053013555631882655,electronics.smartphone,apple,460.05,561610048,0000de39-dc74-414d-8da6-83ad56135bf5
431,2019-10-19 11:10:52 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,460.05,561610048,0000de39-dc74-414d-8da6-83ad56135bf5
627,2019-10-15 06:33:06 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,460.50,553543505,00015b16-9528-4066-9bbf-c1da047d060b

In [5]:
def preprocessing_feat(X):    
    X_preprocessed = X.dropna(subset = ['category_code', 'brand']) #tbd!!
    X_preprocessed = X_preprocessed.drop_duplicates()
    X_preprocessed['category_code'] = X_preprocessed['category_code'].str.replace('.',' ')
    return X_preprocessed

def pricing_criterion(X):
    pricing_guide = X.groupby('category_code')['price'].describe()[["25%", "75%"]].reset_index()
    X_merged = X.merge(pricing_guide, on="category_code", how="right")
    X_merged["price_category"] = X_merged.apply(lambda row: make_column(row), axis=1)
    return X_merged

def make_column(row):
    if row["price"] < row["25%"]:
        return "low"
    elif row["price"] < row["75%"]:
        return "medium"
    else:
        return "high"

def metadata(X):
    X['metadata'] = X[['category_code', 'brand', 'price_category']].apply(lambda x: ' '.join(x), axis = 1)
    return X

def rating(X):
    dct = {'view': 1, 'cart': 3, 'purchase': 5}
    X['rating'] = X['event_type'].map(dct)
    return X

In [6]:
X_prep = preprocessing_feat(df)

/var/folders/6f/vn_j9pqn1qd8rp92y6x0h0hh0000gn/T/ipykernel_22835/3456390047.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  X_preprocessed['category_code'] = X_preprocessed['category_code'].str.replace('.',' ')

In [7]:
# X_prep.query("brand == 'apple' and category_code == 'sport bicycle'")  #check the dataframe output
X_prep.query("product_id == 4804718")

Empty DataFrame
Columns: [event_time, event_type, product_id, category_id, category_code, brand, price, user_id, user_session]
Index: []

In [8]:
X_pric = pricing_criterion(X_prep)

In [9]:
X_rating = rating(X_pric)

In [10]:
def metadata(X):
    X['metadata'] = X[['category_code', 'brand', 'price_category']].apply(lambda x: ' '.join(x), axis = 1)
    return X

In [11]:
X_meta = metadata(X_pric)

In [12]:
X_meta.query("brand == 'apple' and category_code == 'sport bicycle'")
# df_m.query("user_session == 'bde905b5-20f1-40ff-8ef6-a60d875e31e0'")

Empty DataFrame
Columns: [event_time, event_type, product_id, category_id, category_code, brand, price, user_id, user_session, 25%, 75%, price_category, rating, metadata]
Index: []

In [13]:
def ranking(X, n=5):
    X = pd.DataFrame(X_rating.groupby(by='product_id').rating.sum()).sort_values('rating', ascending=False).reset_index().index[0:n]
    return X

In [14]:
# def top_n(product_id, X_rating, n=10):
    
#     """select top n products by ranking'"""
    
#     rating_idx = pd.DataFrame(X_rating.groupby(by='product_id').rating.sum()).sort_values('rating', ascending=False).reset_index().index[0:n]
#     return rating_idx

#     counter = 0
    
#     for i in rating_idx:
#         meta_text = X_rating[X_rating['product_id'] == i][['metadata']].iloc[0,:][0]
        
#         if counter == 0:
#             print(f"Top {n} recommendations for product_id {product_id}:")
#             print(f"{i} - {meta_text} \n")
# #             print("-----------------------")

#         else:
#             print(f"Rec {counter}) {i} - {meta_text}")
        
#         counter += 1

In [15]:
def top_n_overall(product_id, X_rating, n=5):
    
    """select top n products by ranking'"""
    
    rating_idx = pd.DataFrame(X_rating.groupby(by='product_id').rating.sum()).sort_values('rating', ascending=False).index[0:n]
    #     rec_df.sort_values(ranking, ascending=False).index[0:n]
    counter = 0
    
    for i in rating_idx:
        meta_text = X_meta[X_meta['product_id'] == i][['metadata']].iloc[0,:][0]
        
        if counter == 0:
            print(f"Top {n} recommendations for product_id {product_id}:")
            print(f"{i} - {meta_text} \n")
#             print("-----------------------")

        else:
            print(f"Rec {counter}) {i} - {meta_text}")
        
        counter += 1

In [16]:
top_n_overall(49800017, X_rating)

Top 5 recommendations for product_id 49800017:
1004767 - electronics smartphone samsung medium

Rec 1) 1004856 - electronics smartphone samsung low
Rec 2) 1004834 - electronics smartphone samsung low
Rec 3) 1004870 - electronics smartphone samsung medium
Rec 4) 1801881 - electronics video tv samsung high

In [17]:
def top_n_brands(X_rating, n=20):
    
    """select top n products by ranking'"""
    
    rating_idx =     pd.DataFrame(X_rating.groupby(['brand']).rating.sum()).sort_values('rating', ascending=False).index[0:n]

    #     rec_df.sort_values(ranking, ascending=False).index[0:n]
    return list(rating_idx)

In [18]:
top_n_brands(X_rating)

['samsung',
 'apple',
 'xiaomi',
 'oppo',
 'huawei',
 'tefal',
 'indesit',
 'starline',
 'bts',
 'respect',
 'artel',
 'milavitsa',
 'harper',
 'haier',
 'oasis',
 'jbl',
 'lenovo',
 'ariston',
 'nokia',
 'sho-me']

In [19]:
def top_n_by_brand(X_rating, brand, n=10):
    
    """select top n products by brand'"""
    
    rating_idx = pd.DataFrame(X_rating.groupby(['product_id','brand']).rating.sum()).sort_values('rating', ascending=False).reset_index('brand')
    rating_idx = rating_idx[rating_idx['brand']==brand].index[0:n]
#     return rating_idx

    counter = 0

    for i in rating_idx:
            meta_text = X_meta[X_meta['product_id'] == i][['metadata']].iloc[0,:][0]

            if counter == 0:
                print(f"Top {n} recommendations for product_id {brand}:")
                print(f"{i} - {meta_text} \n")
    #             print("-----------------------")

            else:
                print(f"Rec {counter}) {i} - {meta_text}")

            counter += 1

In [20]:
top_n_by_brand(X_rating, brand='apple')

Top 10 recommendations for product_id apple:
4804056 - electronics audio headphone apple high

Rec 1) 1004246 - electronics smartphone apple high
Rec 2) 1002544 - electronics smartphone apple medium
Rec 3) 1002633 - electronics smartphone apple medium
Rec 4) 1004249 - electronics smartphone apple high
Rec 5) 1005105 - electronics smartphone apple high
Rec 6) 1003306 - electronics smartphone apple medium
Rec 7) 1005135 - electronics smartphone apple high
Rec 8) 1002540 - electronics smartphone apple medium
Rec 9) 1005116 - electronics smartphone apple high